.form-control {
  width: 75%;
}

.hide-me {
  display: none;
}

/*img {
  float: right;
}*/

.jumbotron {
  background-color: #337DFF;
  font-family: Verdana Arial sans-serif;
}

.jumbotron p{
  color: #FCFF5D;
  font-family: serif;
  text-align: center;
}

.jumbotron h1 {
  text-align: right;
}
