.form-control {
  width: 50%;
}

.hide-me {
  display: none;
}

.jumbotron {
  background-color: #337DFF;
  font-family: Verdana Arial sans-serif;
  text-align: center;
}

.jumbotron p{
  color: #FCFF5D;
  font-family: serif;
}

.jumbotron h1 {
  color: white;
}

p {
  font-family: arial sans-serif;
}

.hide-me h2 {
  text-align: center;
}

.hide-me img {
  float: right;
}

body {
  background-image: url(../img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.labelCss {
  color: white;
}

form {
  padding-bottom: 20px;
  padding-left: 25px;
}
