.form-control {
  width: 50%;
}

.hide-me {
  /*display: none;*/
  background-color: #FF8469;
}

.jumbotron {
  background-color: #337DFF;
  font-family: Verdana Arial sans-serif;
  text-align: center;
}

.jumbotron p{
  color: #FCFF5D;
  font-family: serif;
}

.jumbotron h1 {
  color: white;
}

p {
  font-family: arial sans-serif;
}

/*.hide-me h2 {
  text-align: center;
}*/

.row img {
  margin-top: 10px;
}

.labelCss {
  color: white;
}

form {
  padding-bottom: 20px;
  padding-left: 25px;
}

#userForm {
  background-image: url(../img/background.jpeg);
  background-size: cover;
  border: double 4px black;
}

#userResults {
  margin-top: 50px;
  border: solid 1px black;
}

#userResults p {
  padding: 15px;
}

#userResults h3 {
  padding: 15px;
}

#userResults h2 {
  text-shadow: 2px 2px black;
  font-size: 50px;
}

#promptHeader {
  padding-left: 15px;
  color: white;
  font-family: Impact sans-serif;
}
